
html{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    height: fit-content;
    background-color: #333333;
    padding:0;
  }
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
    /* color: #4b4b4b; */
    color: white;
    border-radius: 5px;
}
#header {
    display: flex;
}

#httpsWrap{
    margin-left: 20px;
    margin-top: 4px;
}

#formWrapper{
    width: 505px;
    /* height: 150px; */
}

#fileForm span{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#fileForm{
    margin-top: 20px;
}

#buttonWrapper,#message,#error{
    text-align: -webkit-center;
    display: flex;
    justify-content: center;

}

#error{
    color: #FF4600;
    font-weight: 600;
    margin-bottom: 8px;
    height: 15px !important;
}

#fileSubmit,#removeFile{
    cursor: pointer;
    width: 100px;
    height: 22px;
    background-color: #ffc04d;
    text-align: inherit;
    padding-top: 7px;
    margin:10px; 
    border: 1px solid #4b4b4b;
    border-radius: 5px;
}

#injectorBadge{
    margin-top: 0px !important;
}

#injectorText{
    margin-top: 1px !important;
}

#fileSource{
    display: grid;
    height: 23px;
    font-size: 13px;
    width: 490px;
}

/* #injectionDelay,#localhostPort{
    font-size: 11px;
    width: 40px;
    height: 20px;
} */

#injectionDelayWrap{
    display: flex;
    margin: 0px 3px;
}

#fssWrap{
    margin-left: 5px;
    margin-right: 15px;
}

#localhostPort{
    height: 25px;
}

#connectionTable{
    display: -webkit-box;
    position: absolute;
    top: 5px;
    right: 10px;
}

#connectionTable span{
    margin-top: 5px;
}

#connectionBadge,#injectorBadge{
    width: 14px;
    height: 15px;
    display: block;
    border-radius: 100%;
    border: solid 1px #90909000;
    margin-right: 4px;
    margin-top: 7px;
}

#connectionStatus{
    margin-top: 7px;
    cursor: pointer;
}


#injectorStatus{
    display: flex;
    margin-top: 5px;
}
/* 
.inputText{
    outline: inset 1px #545454;
} */

#config{
    margin-top: 27px;
    border: solid #909090 1px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    box-shadow: 2px 3px 15px 0px #9c9c9cdd;
    justify-content: space-evenly;
    background-color: #2b2b2b;
}

#hotReloadWrap,#watchJSONWrap{
    margin-left: 20px;
    margin-right: 20px;
} 

.inputLabel{
    align-self: center;
}

#delayOuterWrap{
    display: flex;
    position: relative;
    top: -5px;
    margin-left: 20px;
    margin-right: 20px;
}

#injectorLogo{
    width: 70px;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#recreateLogo{
    width: 40px;
    height: 41px;
    position: absolute;
    left: 0px;
    bottom: 3px;
}
